<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <title> Benjoin - Anuncios</title>
    </head>
    <body>
        <h1> Anuncios</h1>
        <p><a href={{url_for("usuario")}}> Cadastro Usuario</a></p>
        <p><a href={{url_for("anuncio")}}> Cadastro Anuncio</a></p>
        <p><a href={{url_for("relVendas")}}> Relatorio de Vendas</a></p>
        <p><a href={{url_for("relCompras")}}> Relatorio de Compra</a></p>
        <p><a href={{url_for("anuncio")}}> Anuncios</a></p>
        <p><a href={{url_for("categoria")}}> Categorias</a></p>
        <h4>Seus anuncios aparecerão aqui!</h4>

        
        <h4>Cadastro de {{titulo}}</h4>
        <form action="/anuncio/novo" method="post">
            <p><label for="nome">Nome</label>
            <input type="text" id="nome" name="nome"></p>

            <p><label for="desc">Desc</label>
            <textarea rows="4" cols="50" id="desc" name="desc"></textarea></p>

            <p><label for="qtd">Quantidade</label>
            <input type="text" id="qtd" name="qtd"></p>

            <p><label for="preco">Preco</label>
            <input type="text" id="preco" name="preco"></p>

            <p><label for="cat">Categoria</label>
            <select id="cat" name="cat">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
            </select></p>

            <p><label for="usu">Usuario</label>
                <input type="text" id="uso" name="uso"></p>

            <p><input type="submit" value="Cadastrar"></p>
        </form>

        <h4>Lista de {{titulo}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Desc</th>
                    <th>Qtd</th>
                    <th>Preco</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            
            <tbody>
                {% for anuncio in anuncios %}
                <tr>
                    <td>{{ anuncio.nome }}</td>
                    <td>{{ anuncio.desc }}</td>
                    <td>{{ anuncio.qtd }}</td>
                    <td>{{ anuncio.preco }}</td>
                    <td>{{ anuncio.cat_id }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>