<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <title> Benjoin - Anuncios</title>
</head>
<body>
    <h1> Anuncios</h1>
    <p><a href={{url_for("usuario")}}> Cadastro Usuario</a></p>
    <p><a href={{url_for("anuncio")}}> Cadastro Anuncio</a></p>
    <p><a href={{url_for("relVendas")}}> Relatorio de Vendas</a></p>
    <p><a href={{url_for("relCompras")}}> Relatorio de Compra</a></p>
    <p><a href={{url_for("anuncio")}}> Anuncios</a></p>
    <h4>Seus anuncios aparecerão aqui!</h4>

</body>
</html>