<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Benjoin - Giros e compras </title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
    </head>

    <body>
        <div class="container">
            <div class="page-header"
                style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">
                <h1 class="text-danger"> Bem vindo Benjoin - Giros e compras
                </h1>
            </div>

            <div class="container">
                <div class="page-header"
                    style="height: 10vh; display: flex; justify-content: space-around; align-items: center;">

                    <a href={{ url_for("usuario")}} class="text-danger">
                        Cadastro Usuario</a>
                    <a href={{ url_for("anuncio")}} class="text-danger">
                        Cadastro Anuncio</a>
                    <a href={{ url_for("relVendas")}} class="text-danger">
                        Relatorio de Vendas</a>
                    <a href={{ url_for("relCompras")}} class="text-danger">
                        Relatorio de Compra</a>
                    <a href={{ url_for("anuncio")}} class="text-danger">
                        Anuncios</a>
                    <a href={{ url_for("categoria")}} class="text-danger">
                        Categorias</a>
                    <a href={{ url_for("pergunta")}} class="text-danger">
                        Perguntas</a>
                    <a href={{ url_for("logout") }} class="text-danger"> Logout</a>
                </div>
            </div>
            <div class="container">
                <div class="page-header"
                    style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">
                    <h4 class="text-danger">{{titulo}}</h4>
                </div>

                <form action="/categoria/novo" method="post">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome"
                            name="nome">
                    </div>
                    <div class="form-group">
                        <label for="desc">Descricao</label>
                        <input type="text" class="form-control" id="desc"
                            name="desc">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Cadastrar</button>

                    </div>
                </form>
            </div>

            <div class="page-header"
                style="height: 20hv; display: flex; justify-content:space-around; align-items: center; margin-top: 5px; margin-bottom: 5px;">
                <h4 class="text-danger"> Lista de {{titulo}}</h4>
            </div>
            <table class="table table-striped table-responsive table-bordered"
                style="justify-content:space-around; align-items: center; margin-left: 10px; margin-right: 10px;">
                <thead class="thread-default">

                    <tr>
                        <th>Nome</th>
                        <th>Descricao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nome }}</td>
                        <td>{{ categoria.desc }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <footer class="row">
                <div class="col-12">
                    <p>Copyright © 2023</p>
                </div>
            </footer>

        </body>

    </html>