<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <title> Benjoin - Giros e compras</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header"
                style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">
                <h1 class="text-danger">Benjoin - Giros e compras </h1>
            </div>

            <div class="container">
                <div class="page-header"
                    style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">

                    <a href={{ url_for("usuario")}} class="text-danger">
                        Cadastro Usuario</a>
                    <a href={{ url_for("anuncio")}} class="text-danger">
                        Cadastro Anuncio</a>
                    <a href={{ url_for("relVendas")}} class="text-danger">
                        Relatorio de Vendas</a>
                    <a href={{ url_for("relCompras")}} class="text-danger">
                        Relatorio de Compra</a>
                    <a href={{ url_for("anuncio")}} class="text-danger">
                        Anuncios</a>
                    <a href={{ url_for("categoria")}} class="text-danger">
                        Categorias</a>
                    <a href={{ url_for("pergunta")}} class="text-danger">
                        Perguntas</a>
                    <a href={{ url_for("logout") }} class="text-danger"> Logout</a>
                </div>
            </div>
            <footer class="row">
                <div class="col-12">
                    <p>Copyright © 2023</p>
                </div>
            </footer>

        </body>
    </html>