<!DOCTYPE html>
<html>
    <head>
        <title> Benjoin - Giros e compras - {{titulo}}</title>
    </head>

    <body>
        <h1> Bem vindo ao Benjoin</h1>
        <p><a href={{url_for("usuario")}}> Cadastro Usuario</a></p>
        <p><a href={{url_for("anuncio")}}> Cadastro Anuncio</a></p>
        <p><a href={{url_for("relVendas")}}> Relatorio de Vendas</a></p>
        <p><a href={{url_for("relCompras")}}> Relatorio de Compra</a></p>
        <p><a href={{url_for("anuncio")}}> Anuncios</a></p>
        <p><a href={{url_for("categoria")}}> Categorias</a></p>
        <h4>Cadastro de {{titulo}}</h4>
        <form action="/usuario/novo" method="post">
            <p><label for="user">Nome</label></p>
            <p><input type="text" id="nome" name="nome"></p>

            <p><label for="user">Email</label></p>
            <p><input type="text" id="email" name="email"></p>

            <p><label for="user">Senha</label></p>
            <p><input type="text" id="senha" name="senha"></p>

            <p><label for="user">Endereço</label></p>
            <p><input type="text" id="end" name="end"></p>

            <p><input type="submit" value="Cadastrar"></p>

        </form>

        <h4>Lista de {{titulo}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Endereço</th>
                    <th>Deletar</th>

                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>{{ usuario.end }}</td>
                    <td><a href={{ url_for("editarusuario",id=usuario.id) }}>Editar?</a></td>
                    <td><a href={{ url_for("deletarusuario",id=usuario.id) }}>Deletar?</a></td>
                    

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>